@using GroupMana.Models
@{
    User user = ViewBag.User;
    
}




<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edit Information</title>
    <!--        <link rel="shortcut icon" type="image/png" href="images/80jslogo.png">-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #FAFAFA;
            font-family: "Amazon Ember",Arial,sans-serif;
        }

        .container .form-edit {
            background-color: #ffffff;
            padding-left: 25px;
        }

        .nav nav-tabs {
            font-family: "Amazon Ember",Arial,sans-serif;
        }

        p {
            font-size: 15px;
        }

        .card {
            padding: 15px;
        }
    </style>
</head>
<body>



    <div class="container">
        <br>
        <h1>Public Profile page settings</h1>
        <br>

        <br><br>
        <div class="tab-content">

            <!--Edit public profile-->
            <div class="tab-pane fade in active" id="public-name">
                @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form-edituser" }))
                {
                    <input type="hidden" name="service" value="changeinfo">
                    <div class="card">
                        <div class="box">
                            <h2><strong>Your public name</strong></h2>
                            <div class="col-md-12 ">
                                <input name="fullname" type="text" value=" @user.fullname " style="width: 25rem;">
                                <p>
                                    This will not change the name associated with your account  @user.fullname
                                    @user.dob
                                    <span><a style="color: red;" href="">   Edit</a></span>
                                </p>
                                <p>Your public name will be visible on your public profile page and elsewhere on Bmazon.</p>
                                <br>
                            </div>

                            <h2><strong>Your public information (optional)</strong></h2>
                            <div class="col-md-12 ">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>Bio</p>
                                        <textarea name="bio" placeholder="Share a little about you" >@user.bio</textarea>
                                        <p>Date of birth</p>
                                        <input type="datetime" name="dob" value=" @user.dob " >
                                    </div>
                                    <div class="col-md-6">
                                        <p>Location</p>
                                        <input name="email" type="text" value="@user.email" placeholder="Enter your location">
                                        <p>Occupation</p>
                                        @if (user.gender==0)
                                        {
                                            <select name="gender">
                                                <option value="0">Female</option>
                                                <option value="1" selected>Male</option>
                                            </select>
                                        }
                                        else
                                        {

                                        <select name="gender">
                                            <option value="1">Male</option>
                                            <option value="0" selected>Female</option>
                                        </select>
                                        }
                                    </div>
                                    <br>
                                </div>
                            </div>

                           
                        </div>
                        <div class="row">
                            <br><br>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <a style="right: 50%;" href="UserProfile">
                                    <button style="text-align:center; color:white;border-radius: 15px;height: 2em; width: 15em;" class="btn-danger">
                                        Back to public profile
                                    </button>
                                </a>
                                <a style="right: 50%;" href="UserControllerMap?service=info">
                                    <button type="submit" style="text-align:center; color:white;border-radius: 15px;height: 2em; width: 8em;" class="btn-warning">
                                        Save
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                </div>

            <!--Turn on Seller Feature-->
            <div id="sales-feature" class="tab-pane fade">
                The system has not completed this feature yet
            </div>
        </div>
    </div>
    <br><br><br>

</html>
